
body {
	background: #999999;
}

h1, {
	color: #333333;
	background: #000000;
	font-family: Futura, sans-serif;
	text-align: left;
	padding: 10px;
}

h3 {
	background: #000000;
	padding: 10px;
	color: #ffffff;
	font-family: Futura, Arial, sans-serif;
	text-transform: uppercase
	text-align: center;
	
}

p {
	color: #ffffff;
	font-family: Futura, sans-serif;
	font-size: 10pt;
	text-align: center;

}


