
body {
	background: #999999;
}

h1 {
	color: #333333;
	font-family: Futura, sans-serif;
	text-align: left;
	padding: 10px;
	border-style: solid;
}


h3 {
	color: #333333;
	font-family: Arialblack, sans-serif;
	text-align: center;
	padding: 10px;
	border-style: solid;
    border-width: 5px;
}

p {
	color: #333333;
	font-family: Futura, sans-serif;
	font-size: 10pt;
	text-align: center;

}


