body {
	background: #CCCCCC;
}

header {
	
	background: #000000;
	color: #8b7500;
	text-align: justify;
	line-height: 20%;
	padding: 10px;
	margin: 2px;
}


header h1,
header h2 {
    display: inline-block;
}

header::after {
    content: '';
    width: 100%;
    display: inline-block;
}

h1 {
	color: #CCCCCC;
	font-family: Century, serif;
	font-size: 14pt;
	line-height: 50%;
	padding-left: 20px;
	text-align: center;

}

h2 {
	color: #CCCCCC;
	font-family: Futura, sans-serif;
	font-size: 12pt;
	text-align: center;
	line-height: 50%;
	padding-right: 20px;
	padding-left: 20px;
	text-align: center;

}

#slogan {
	color: #8b7500;
	font-family: Futura, sans-serif;
	font-size: 10pt;
	background: #000;
	line-height: 50%;
}

/*NAV*/

.container {
	width: 100%;
	margin: auto;
	padding: 10px;
	text-align: center;
}

li {
	display: inline-block;
	width: 170px;
	height: 170px;
	margin: 10px;
	padding: 10px;
}

div {
	display: inline-block;
	width: 170px;
	height: 170px;
	margin: 10px;
	padding: 10px;
	
}

#about {
	
	color: #000000;
	font-family: Futura, sans-serif;
	text-align: center;
	display: inline-block;
}

#typography {
	
	color: #8b7500;
	font-family: Futura, sans-serif;
	text-align: center;
	display: inline-block;

}

#projects {
	
	color: #000000;
	font-family: Futura, sans-serif;
	text-align: center;
	display: inline-block;


}

#blog {
	
	color: #8b7500;
	font-family: Futura, sans-serif;
	text-align: center;
	display: inline-block;
}


/*MAIN*/

h3 {
	color: #333333;
	font-family: Century, serif;
	font-size: 11pt;
}

h4 {
	color: #8b7500;
	font-family: Century, serif;
	font-size: 10pt;
}


h5 {
	color: #8b7500;
	font-family: Century, serif;
	font-size: 9pt;
	text-decoration: none;
	text-align: left;

}

p {
	color: #333333;
	font-family: Futura, sans-serif;
	font-size: 9pt;
	text-align: left;

}

a:link {
    color: #333333;
    text-decoration: none;
}

a:hover {
	color: #333333;
    text-decoration: underline;
}




.twogrid {

	background: #CCCCCC;
	color: #333333;
	font-family: Century, serif;
	font-size: 48pt;
	text-align: left;
	width: 375px;
	line-height: 90%;
	display: inline-block;
}

.onegrid {
	display: inline-block;
	color: #333333;
	font-family: Futura, sans-serif;
	font-size: 14pt;
	text-align: left;
	line-height: 130%;
	
	

}


.section1 {

	display: inline-block;
	background: #8b7500;
	width: 50%;
	padding: 2px;
	margin-top: 15px;

}
.gallery2 {
	display: inline-block;
	background: #333333;
	width: 50%;
	padding: 10px;
	margin-top: 15px;
	border: 5px solid #CCCCCC;

}

.gallery4 {
	display: inline-block;
	background: #333333;
	height: 160px;
	width: 160px;
	padding: 10px;
	margin-top: 15px;
	border: 5px solid #CCCCCC;
	
}








