body {
	font-size: 16px;
	font-family:'Roboto Slab', serif; sans-serif;
	color: #000;
	background: #ccc;
	text-align: center;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

nav {
	background: #000;
}

nav a {
	color: #ccc;
	text-decoration: none;
	text-align: center;
	display: none;
	padding: 1em;
}
nav a#mobilenav {
	font-size: 2em;
	padding: 0;
	display: block;
}

nav a:hover {
	background-color: #8b7500;
}

nav:hover a {
	display: block;
}

header {
	background-color: #000;
	margin: 0;
	padding: 0;
	width: 100%;
}

header h1, h3 {
	display: block;
}

h1 {
	font-size: 1.5em;
	color: #8b7500;
	margin: 0;
	padding: 1em 0 0 0;
}

h2 {
	font-size: 1.5em;
	color: #ccc;
	width: 100%;
	padding:.5em;
	margin: 0;	
}

h3 {
	font-size: 1em;
	color: #8b7500;
	margin: 0 .075em 0em .075em;
	padding: 0 0 1em 0;
}

.grey {
	background: #ccc;
	width: 100%;
	text-align: center;
}

.grey img {
	width: 100%;
	max-width: 9em;
	padding: 3em 1em 1em 1em;
	margin: auto;
}

.iconset {
	display: none;
}

.title {
	font-size: 3.25em;
	line-height: 90%;
	margin: .75em .5em 0 .5em;

}
.byline {
	font-size: 1.5em;
	color: #8b7500;
	margin: 0;
	padding: 1em 1em 3em 1em;
}

.copy {
	font-size: 1.25em;
	padding: .5em 1em 2em 1em;
	width: 75%;
	margin: auto;
}
.right h1 {
	color: #8b7500;
	text-align: center;

}

.group {
	width: 100%;
	margin: auto;
}

.left {
	display: block;
	margin: auto;
}

.right {
	display: block;
	margin: auto;
}

.darkgrey {
	background: #333;
	color: #8b7500;
	width: 100%;
	padding: .35em;
}

.black {
	background: #000;
	width: 100%;
	padding: .35em;
}

.gallery {
	width: 100%;
	margin: auto;
}


.gold {
	background: #8b7500;
	color: #000;
	text-align: center;
	width: 100%;
	padding: .35em;
	margin: 0;
}
.gold h2 {
	color: #ccc;
}

.gold span {
	font-size: 4em;
}

footer {
	background: #000;
	color: #ccc;
	padding: 1em .35em 5em .35em;
	width: 100%;

}

@media only screen and (min-width:730px) {

.gallery {
width: 30%;
margin: 0;
padding: 1em 0 3em 0;
vertical-align: baseline;

}

header h1, h3 {
	display: none;
}

.iconset {
	display: inline-block;
}

.title {
font-size: 4em; }

.copy {
	width: 50%;
}

nav a{
	display: inline-block;
	padding: 1em 3em 1em 3em;
}

nav:hover a {
	display: inline-block;
}

nav a#mobilenav {

	display: none;
}

.left {
	display: inline-block;
	margin: auto;
}

.right {
	display: inline-block;
	margin: auto;
}

}

@media only screen and (min-width:850px) {

}

}






