body {
	font-size: 18px;
	font-family:'Roboto Slab', serif; sans-serif;
	color: #000;
	background: #ccc;
	line-height: 1.6;
	text-align: center;
	margin: 0;
	padding: 0;
}

nav {
	background: #000;
}

nav a {
	color: #ccc;
	text-decoration: none;
	text-align: center;
	display: none;
	padding: 1em;
}
nav a#mobilenav {
	font-size: 2em;
	padding: 0;
	display: block;
}

nav a:hover {
	background-color: #8b7500;
}

nav:hover a {
	display: block;
}

header {
	background-color: #000;
	margin: 0;
}

header h1, h3 {
	display: block;
}

h1 {
	font-size: 1.5em;
	color: #ccc;
	margin: 1em .05em 0 .05em;
}

h2 {
	font-size: 1.5em;
	color: #ccc;
	width: 100%;
	padding:.5em;
	margin: 0;	
}

h3 {
	font-size: 1em;
	color: #8b7500;
	margin: 0 .075em 0em .075em;
	padding-bottom: 1em;
}
img {
	width: 100%;
	max-width: 30em;
}
section {
	width: 100%;
}
.grey {
	background: #ccc;
	width: 100%;
	line-height: 210%;
	text-align: center;
}
.grey img {
	width: 18%;
	max-width: 10em;
	display: block;
	padding: 3em 0 1em 0;
	margin: 0;
}

div .col1, .col2 {
	display: inline-block;
	padding: .5em;
	margin: 0;
}
.grey span {
	font-size: 3.5em;
	text-align: left;
	padding: 1em;
	margin: 0;
}
.grey h1 {
	color: #8b7500;
}
.grey img {
	width: 50%;
	display: block;
	margin: auto;
}
.darkgrey {
	background: #333;
	width: 100%;
	padding: .75em;
}
.black {
	background: #000;
	width: 100%;
	padding: .75em;
}
.gold {
	background: #8b7500;
	color: #000;
	line-height: 210%;
	text-align: center;
	width: 100%;
	padding: .75em;
	margin: 0;
}
.gold h2 {
	color: #ccc;
}

.gold span {
	font-size: 4em;
}

.gold div .col1, .col2 {
	display: block;
}

footer {
	background: #000;
	color: #ccc;
	padding: .75em;
	width: 100%;

}

@media screen only 
380px
768px

